<h1>Start On Rails</h1>
  <div class="posts container">
    <% @posts.each do |post| %>
      <div class="row"> 
        <div class="post span4">
          <h3><%= link_to post.title, home_post_path(post.id) %> </h3>
          <p><%= post.description %> </p>
        </div>
      </div>
    <% end %>
</div>
